<!-- start custom head snippets -->
<meta property="og:title" content="{{ page.og_title | default: page.title | default: site.title }}">
<meta property="og:description" content="{{ page.og_description | default: page.description | default: site.description }}">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

<!-- end custom head snippets -->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
